# Переменные окружения для Vercel
# Добавь эти переменные в настройках проекта на vercel.com

NODE_ENV=production
BOT_TOKEN=8035311656:AAFB8nrpINRSaREmNRtevET2iOjREohVgGs
CHAT_ID=592052544
ALLOWED_ORIGINS=*
