.event-brb-row-no-bottom-margin {
    margin-bottom: 0px;
}

.event-brb-text-large-bold {
    font-size: 23px;
    font-weight: bold;
}

.event-brb-text-small {
    font-size: 11px;
}

.event-brb-selected-shield {
    border: 2px solid teal;
    border-radius: 10px;
}

.event-brb-attack-border {
    border-radius: 10px;
    border: 1px solid yellow;
}

.event-brb-attack {
    cursor: pointer;
}

.event-shield-select {
    cursor: pointer;
}

.event-full-tokens {
    color: red;
}

.event-brb-title {
    margin-top: 12px !important;
}
