.harvest-charges-warning-title {
    margin-bottom: 10px;
}

.harvest-charges-warning-inner {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.harvest-charges-warning-img {
    display: block;
    max-width: 100px;
    height: 100%;
}

.harvest-charges-warning-crops {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    max-width: 60%;
}

.harvest-charges-warning-crop img {
    vertical-align: middle;
}

@keyframes harvest-floater {
    from {
        transform: translateY(0);
        opacity: 1.0;
    }

    to {
        transform: translateY(-100px);
        opacity: 0.0;
    }
}


.harvest-floater {
    position: absolute;
    width: 50px;
    height: 50px;
    animation-name: harvest-floater;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    pointer-events: none;
}
